### String Formatting with {}

In [6]:
age = 4
name = 'meoh'
print('My dog {} is {} years old.'.format(name,age))

My dog meoh is 4 years old.

In Python 2, the arguments were supposed to be provided in order. But with the new style, we can customize the order.

In [8]:
m1 = 'Athos'
m2 = 'Porthos'
m3 = 'Aramis'

print('The names of the three musketeers are {2}, {0}, {1}.'.format(m1,m2,m3))

The names of the three musketeers are Aramis, Athos, Porthos.

The arguments can also be a dictionary of named arguments and the specifier can include their names:

In [16]:
print('The names of the three musketeers are {musk_1}, {musk_2}, {musk_3}.'.format(musk_1='Athos',musk_2='Porthos',musk_3='Aramis'))

The names of the three musketeers are Athos, Porthos, Aramis.

In [29]:
## Aligning Strings in Python 2 

# Lets take a simple exampple
# Calculate Compound Interest
principal = 1000 # Initial amount
rate = 0.05 # Interest rate
numyears = 5 # Number of years
year = 1
print("Year|", "Principal")
while year <= numyears:
    principal = principal * (1 + rate)
    print("%3d %0.2f" % (year, principal))
    year += 1

Year| Principal
  1 1050.00
  2 1102.50
  3 1157.62
  4 1215.51
  5 1276.28

Don't understand what the weird sequence means??
We'll change the values of the first formatting and we'll understand it a lil better.

"%3d" formats an integer right-aligned in a column of width 3, and "%0.2f" formats a floating-point number so that only two digits appear after the decimal point. Lets change it and see the difference.

In [48]:
principal = 1000 # Initial amount
rate = 0.05 # Interest rate
numyears = 5 # Number of years
year = 1
print("Year|", "Principal")
while year <= numyears:
    principal = principal * (1 + rate)
    print("%5d %0.4f" % (year, principal))
    year += 1

Year| Principal
    1 1050.0000
    2 1102.5000
    3 1157.6250
    4 1215.5063
    5 1276.2816

As you can see, "%5d" has formatted the integer right-aligned in a column of width 5, and "%0.4f" has formatted the floating-point number so that four digits appear after the decimal point.

#### Modern Approach - Format function()
A more modern approach to string formatting is to format each part individually
using the format() function. format() uses format specifiers that are similar to those used with the traditional string
formatting operator (%) For example:

In [35]:
# Calculate Compound Interest
principal = 1000 # Initial amount
rate = 0.05 # Interest rate
numyears = 5 # Number of years
year = 1
while year <= numyears:
    principal = principal * (1 + rate)
    # Lets print the results in individual cells for better understanding.
    year += 1

In [50]:
print(format(year,"2d"),format(principal,"0.2f")) # 2d will right align it by two columns.

 6 1276.28

In [51]:
print(format(year,"4d"),format(principal,"0.4f")) # .04f will print the first 4 decimal points.

   6 1276.2816

In [52]:
# Here is another variation. The number before the colon ":" represents the variables themselves, in
# this case year will be printed first and principal second as per the order 0 and 1.
# The sequence after the colon represents the formatting. -- 6d right-aligned and 6 decimal points.
print("{0:6d} {1:0.6f}".format(year,principal))

     6 1276.281563

In [59]:
# Yet another variation. It includes a message though!!
print('The results are ',format(year,"6d"),format(principal,"0.6f"))

The results are       6 1276.281563

In [61]:
# And another one.
print("The results are {0:6d} {1:0.4f}".format(year,principal))

The results are      6 1276.2816

Same as the preceding example, but the > characters make the right-alignment more
explicit:

In [65]:
print("The results are {0:>6d} {1:>0.10f}".format(year,principal))

The results are      6 1276.2815625000

Minimum field width 10, centered:

In [66]:
print(format(year,"^4d"),format(principal,"^0.4f"))

 6   1276.2816

In [68]:
'{0:^4d} {1:^0.4f}'.format(year,principal)

' 6   1276.2816'

We can also fill the empty spaces of padding with a character of our choice as follows!!

In [71]:
'{0:$^20f}'.format(principal)

'$$$$1276.281563$$$$$'