Tuples are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described for lists. For example,

In [3]:
myTuple = (2,True,4.96)

#### Finding the length

In [4]:
len(myTuple)

3

#### Indexing

In [5]:
myTuple[0]

2

#### Repetitive Concatenation

In [6]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

#### Slicing

In [7]:
myTuple[0:2]

(2, True)

However, if we try to change an item in a tuple, we will get an error. Note that the error message provides location and reason for the problem.

In [8]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

### Difference between a list and a tuple and a set

In [1]:
a = [1,2,3]

In [2]:
b = (1,2,3)

In [7]:
c = {1,2,3}

In [9]:
d = set([1,2,3])

In [4]:
type(a)

list

In [5]:
type(b)

tuple

In [6]:
type(c)

set

In [10]:
type(d)

set

In [11]:
c[2]=5

TypeError: 'set' object does not support item assignment

## So what is a set??
A set is an unordered collection of zero or more immutable Python data objects. Sets do not allow duplicates and are written as comma-delimited values enclosed in curly braces. The empty set is represented by set(). Sets are heterogeneous, and the collection can be assigned to a variable as below.

Even though sets are not considered to be sequential, they do support a few of the familiar operations presented earlier.

Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference. New in version 2.4.

Like other collections, sets support x in set, len(set), and for x in set. Being an unordered collection, sets do not record element position or order of insertion. Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.

There are currently two builtin set types, set and frozenset. The set type is mutable -- the contents can be changed using methods like add() and remove(). Since it is mutable, it has no hash value and cannot be used as either a dictionary key or as an element of another set. The frozenset type is immutable and hashable -- its contents cannot be altered after is created; however, it can be used as a dictionary key or as an element of another set.

Instances of set and frozenset provide the following operations:

In [15]:
#### No Duplicates in sets : Example

In [16]:
some_set = {13,55,13,57,84,12}

In [17]:
some_set

{12, 13, 55, 57, 84}

Notice that the element 13, though occurs twice in our assignment, has been ignored from the final set.

In [18]:
my_set = {1,2,3,4}

#### Membership

In [19]:
1 in my_set

True

In [20]:
len(my_set) #Length

4

## Interesting!!
### Set concatenation and some cool features

In [1]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}

In [2]:
a | b # Returns a new set with all elements from both sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
a & b # Returns a new set with only those elements common to both sets

set()

Since these 2 sets had nothing in common, it returned an empty set represented by set().
So lets add an element to one of these sets -- a common element

In [4]:
a.add(7)

In [5]:
a

{1, 2, 3, 4, 5, 7}

In [16]:
a & b

{7}

In [17]:
# The exclusive items can be identified as follows:
a ^ b # Everything other than 7 gets printed.

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [18]:
# The same can be achieved as follows:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [7]:
a - b # Returns a new set with all items from the first set not in second

{1, 2, 3, 4, 5}

Since 7 is part of the second set, it returns all other elements of set a

In [8]:
a <= b # Asks whether all elements of the first set are in the second

False

Since not all elements of a were present in b, it returned False. So lets see if a set that contains elements that are part of another set as well return True.

In [9]:
c = {6,7,9}

In [10]:
c <= b

True

Like we knew, it returned True

### Mathematical Operations on Sets
Sets support a number of methods that should be familiar to those of us who have worked with them in a mathematics setting.

Note, the non-operator versions of union(), intersection(), difference(), and symmetric_difference(), issubset(), and issuperset() methods will accept any iterable as an argument. In contrast, their operator based counterparts require their arguments to be sets. This precludes error-prone constructions like set('abc') & 'cbs' in favor of the more readable set('abc').intersection('cbs').

In [11]:
#### Union
# Returns a new set with all elements from both sets
a.union(c)

{1, 2, 3, 4, 5, 6, 7, 9}

In [12]:
# Intersection
# Returns a new set with only those elements common to both sets
c.intersection(b)

{6, 7, 9}

In [13]:
# Difference
# Returns a new set with all items from first set not in second
c.difference(b)

set()

In [14]:
b.difference(c)

{8, 10}

In [15]:
# The same could be done by using minus(-)
b-c

{8, 10}

In [19]:
# issubset
# Asks whether all elements of one set are in the other
c.issubset(b)

True

In [20]:
# Using the comparator operator works the same for finding subsets.
c <= b

True

In [21]:
# Since c is a subset of b, the following comparisson should return False.
c >=b

False

In [24]:
# Lets see a case where the either only the less than or greater than comparisson is used.
# We'll create set d which has the same set of elements as c.
d = {6,7,9}

In [29]:
# Since they are the same, the following should return True
c <= d

True

In [31]:
# The output here must be false
c > d

False

In [36]:
# Remove
# Removes item from the set
a.remove(7)

In [37]:
a

{1, 2, 3, 4, 5}

In [38]:
# Pop
# Removes an arbitrary element from the set
a.pop()

1

In [39]:
a

{2, 3, 4, 5}

In [40]:
a.pop()

2

In [41]:
a

{3, 4, 5}

In [42]:
# Clear
# Removes all elements from a set
a.clear()

In [43]:
a

set()

### Sets and FrozenSet

Both set and frozenset support set to set comparisons. Two sets are equal if and only if every element of each set is contained in the other (each is a subset of the other). A set is less than another set if and only if the first set is a proper subset of the second set (is a subset, but is not equal). A set is greater than another set if and only if the first set is a proper superset of the second set (is a superset, but is not equal).

Instances of set are compared to instances of frozenset based on their members. For example, "set('abc') == frozenset('abc')" returns True.

The subset and equality comparisons do not generalize to a complete ordering function. For example, any two disjoint sets are not equal and are not subsets of each other, so all of the following return False: a<b, a==b, or a>b. Accordingly, sets do not implement the __cmp__ method.

Since sets only define partial ordering (subset relationships), the output of the list.sort() method is undefined for lists of sets.

Set elements are like dictionary keys; they need to define both __hash__ and __eq__ methods.

Binary operations that mix set instances with frozenset return the type of the first operand. For example: "frozenset('ab') | set('bc')" returns an instance of frozenset.

The following table lists operations available for set that do not apply to immutable instances of frozenset:

In [44]:
## For more info on sets and frozensets - https://docs.python.org/2.4/lib/types-set.html