### Create a list

In [9]:
cities = ['Chicago','San Francisco','New York']
metros = ['Dallas','Las Vegas', cities]

In [10]:
cities

['Chicago', 'San Francisco', 'New York']

In [11]:
metros

['Dallas', 'Las Vegas', ['Chicago', 'San Francisco', 'New York']]

### Assigning a List to another
Assigning one list to another is only going to create a reference to the original list and not a completely new list object in the memory.

In [12]:
# Assign metros to a temporary variable
temp = metros

In [13]:
metros[1] = 'Miami'

In [15]:
# Now, Metros is changed
metros

['Dallas', 'Miami', ['Chicago', 'San Francisco', 'New York']]

In [16]:
# The change is reflected in temp as well
temp

['Dallas', 'Miami', ['Chicago', 'San Francisco', 'New York']]

### Converting a String to List

In [7]:
language = list('Python')

In [8]:
language

['P', 'y', 't', 'h', 'o', 'n']

In [12]:
# Converting String to List using split()
birthday = '8/11/2017'
dob = birthday.split('/')
print(dob)

['8', '11', '2017']

In [13]:
# A list can be converted to a String using join() as follows:
statement = ['I','love','Python']

In [16]:
sentence = ' '.join(statement)

In [18]:
print(sentence)

I love Python

### Common Operations in Lists

In [1]:
alist = [1,2,3,4]

Add an item to the list using append

In [19]:
alist.append(5)

In [20]:
alist

[1, 2, 3, 4, 5]

In [21]:
somelist = [6,7,8]

In [22]:
alist.append(somelist)

In [23]:
alist

[1, 2, 3, 4, 5, [6, 7, 8]]

The list appended was added as one element to our "alist"

In [24]:
len(alist)

6

In [25]:
alist[5]

[6, 7, 8]

### Insert an element at the ith position in a list

In [26]:
alist.insert(6,9) # insert 9 at index position 6

In [27]:
alist

[1, 2, 3, 4, 5, [6, 7, 8], 9]

### Remove the last element in a list using pop

In [28]:
alist.pop()

9

In [29]:
alist

[1, 2, 3, 4, 5, [6, 7, 8]]

### We can also remove the ith element in a list using pop

In [30]:
alist.pop(5)

[6, 7, 8]

In [31]:
alist

[1, 2, 3, 4, 5]

### We can remove the ith element using del (delete) as well

In [32]:
del alist[4]

In [33]:
alist

[1, 2, 3, 4]

### Sort a List

In [34]:
blist = [4,7,1,5,2]

In [35]:
blist.sort()

In [36]:
blist

[1, 2, 4, 5, 7]

### Reverse a String

In [37]:
blist.reverse()

In [38]:
blist

[7, 5, 4, 2, 1]

### Find the first occurence of an element in a list

In [39]:
alist.index(3)

2

This means that the element 3 occurs at the 2nd index. Lets print the alist and see where 3 actually occurs.

In [45]:
alist

[1, 2, 3, 4]

Yes 3 actually occurs at the second index.

### Find the number of occurences of an element.

In [42]:
clist = [1,4,2,5,3,2]

In [43]:
clist

[1, 4, 2, 5, 3, 2]

In [44]:
clist.count(2)

2

### Remove the first occurence of an item.

In [45]:
clist.remove(2)

In [46]:
clist

[1, 4, 5, 3, 2]

We can see that some of the methods, such as 'pop', returns a value and also modifies the list. Others, such as reverse, simply modify the list with no return value. 

pop will default to the end of the list but can also remove and return a specific item. 

Again, the index range starting from 0 is used for these methods. 

The “dot” notation is used for requesting an object to invoke its methods.
Even simple data objects such as integers can invoke methods in this way:

In [47]:
(54).__add__(21)

75

Here, we are requesting the integer object 54 to execute its add method (called __add__ in Python) and passing a value 21 to it to add to 54. The result is the sum, 75. Of course, we usually write this as 54+21. We will discuss more in detail.

### The Range function
range produces a range object that represents a sequence of values. By using the list function, it is possible to see the value of the range object as a list. This is illustrated below.

In [48]:
range(10)

range(0, 10)

In [49]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [52]:
list(range(1,10,2)) # with a step value of 2

[1, 3, 5, 7, 9]

In [53]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

The range object represents a sequence of integers. By default, it will start with 0. If we provide more parameters, it will start and end at particular points and can even skip items. In our first example, range(10), the sequence starts with 0 and goes up to but does not include 10. In our second example, range(5,10) starts at 5 and goes up to but not including 10. range(5,10,2) performs similarly but skips by twos (again, 10 is not included).

## List Comprehension

There is an alternative method for creating a list that uses iteration and selection constructs known as a "list comprehension". A list comprehension allows us to easily create a list based on some processing or selection criteria. For example, if we would like to create a list of the first 10 perfect squares, we could use a for statement:

#### Regular method of creating a list using loops

In [1]:
sqlist = []
for x in range(10):
    sqlist.append(x*x)
print(sqlist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Using a list comprehension, we can do this in one step as

In [4]:
sqlist=[x*x for x in range(15)]

In [7]:
sqlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [8]:
# This is the list that gets generated by this expression which gets assigned to the target variable
[x*x for x in range(15)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

The variable x takes on the values 1 through 15 as specified by the for construct. The value of x*x is then computed and added to the list that is being constructed. The general syntax for a list comprehension also allows a selection criteria to be added so that only certain items get added. For example,

In [11]:
sqlist=[x*x for x in range(1,6) if x%2 == 0]

In [12]:
sqlist

[4, 16]

In [13]:
sqlist=[x*x for x in range(1,6) if x%2 != 0]

In [14]:
sqlist

[1, 9, 25]

In [15]:
# Another example
[ch.upper() for ch in 'superabundant' if ch not in 'aeiou']

['S', 'P', 'R', 'B', 'N', 'D', 'N', 'T']

### Find the minimum element in a list

In [18]:
list1 = [456, 700, 200]

print("min value element : ", min(list1))

min value element :  200

In [19]:
# Get the index of the min element
minIndex = list1.index(min(list1))

In [20]:
minIndex

2

In [21]:
list2 = [34.53, 45.14, 643.14]

In [22]:
minIndex = list2.index(min(list2))

In [23]:
minIndex

0

In [24]:
# Using List Comprehension, it could be more efficient as 
val, idx = min((val, idx) for (idx, val) in enumerate(list1))

enumerate() acts like a counter.

In [28]:
val

200

In [29]:
idx

2

In [30]:
for idx, val in enumerate(list1):
    print(idx)
    print(val)

0
456
1
700
2
200

In [34]:
# There is a slight variation in this program that could completely alter the results
idx, val = min((idx, val) for (idx, val) in enumerate(list1))

In [37]:
val

456

In [38]:
idx

0

As you can see, now the min function returns the index 0 and value 456 as the result of the operation. This is because of the ordering of the variables in question. In the first case, we passed val followed by idx where the min function is going to look for the minimum item in the list as the list gets iterated using the for loop and then finds the corresponding index of the element.

But in this case, the min takes the minimum index and then finds the associated element which is <b>not</b> what we want. Hence, be careful with the ordering.