### Tuples
Tuples are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described for lists. For example,

In [3]:
myTuple = (2,True,4.96)

#### Finding the length

In [4]:
len(myTuple)

3

#### Indexing

In [5]:
myTuple[0]

2

#### Repetitive Concatenation

In [6]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

#### Slicing

In [7]:
myTuple[0:2]

(2, True)

However, if we try to change an item in a tuple, we will get an error. Note that the error message provides location and reason for the problem.

In [8]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

### Difference between a list and a tuple and a set

In [1]:
# Creating a list
a = [1,2,3]

In [2]:
# Creating a tuple
b = (1,2,3)

In [3]:
# Creating a set
c = {1,2,3}

In [1]:
# Creating a set from a list
d = set([1,2,3])

In [5]:
type(a)

list

In [6]:
type(b)

tuple

In [7]:
type(c)

set

In [8]:
type(d)

set

In [10]:
# Even sets do not support modifications
c[2]=5

TypeError: 'set' object does not support item assignment

## Sets

In [11]:
#### No Duplicates in sets : Example
some_set = {13,55,13,57,84,12}

In [12]:
some_set

{12, 13, 55, 57, 84}

Notice that the element 13, though occurs twice in our assignment, has been ignored from the final set.

In [18]:
my_set = {1,2,3,4}

#### Membership or Element

In [19]:
1 in my_set

True

In [20]:
len(my_set) #Length

4

### Set concatenation and Other features

In [2]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}

In [3]:
## Union of Sets
a | b # Returns a new set with all elements from both sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
## Intersection of Sets
a & b # Returns a new set with only those elements common to both sets

set()

Since these 2 sets had nothing in common, it returned an empty set represented by set().
So lets add an element to one of these sets -- a common element

In [5]:
# Adding an item
a.add(7)

In [6]:
a

{1, 2, 3, 4, 5, 7}

In [7]:
a & b

{7}

In [8]:
# The exclusive items can be identified as follows:
a ^ b # Everything other than 7 gets printed. This is simply intersection subtracted from union

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [18]:
# The same can be achieved as follows:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [18]:
a - b # Returns a new set with all items from the first set not in second

{1, 2, 3, 4, 5}

Since 7 is part of the second set, it returns all elements of set a except 7.

In [19]:
a <= b # Asks whether all elements of the first set are in the second

False

Since not all elements of a were present in b, it returned False. So lets see if a set that contains elements that are part of another set as well return True.

In [20]:
c = {6,7,9}

In [21]:
c <= b

True

Like we knew, it returned True

### Mathematical Operations on Sets
Sets support a number of methods that should be familiar to those of us who have worked with them in a mathematical setting.

Note, the non-operator versions of union(), intersection(), difference(), and symmetric_difference(), issubset(), and issuperset() methods will accept any iterable as an argument. In contrast, their operator based counterparts require their arguments to be sets. This precludes error-prone constructions like set('abc') & 'cbs' in favor of the more readable set('abc').intersection('cbs').

In [22]:
#### Union
# Returns a new set with all elements from both sets
a.union(c)

{1, 2, 3, 4, 5, 6, 7, 9}

In [23]:
# Intersection
# Returns a new set with only those elements common to both sets
c.intersection(b)

{6, 7, 9}

In [24]:
# Difference
# Returns a new set with all items from first set not in second
c.difference(b)

set()

In [25]:
b.difference(c)

{8, 10}

In [26]:
# The same could be done by using minus(-)
b-c

{8, 10}

In [27]:
# issubset
# Asks whether all elements of one set are in the other
c.issubset(b)

True

In [28]:
# Using the comparator operator works the same for finding subsets.
c <= b

True

In [29]:
# Since c is a subset of b, the following comparisson should return False.
c >=b

False

In [30]:
# Lets see a case where the either only the less than or greater than comparisson is used.
# We'll create set d which has the same set of elements as c.
d = {6,7,9}

In [31]:
# Since they are the same, the following should return True
c <= d

True

In [32]:
# The output here must be false
c > d

False

In [33]:
# Remove
# Removes item from the set
a.remove(7)

In [34]:
a

{1, 2, 3, 4, 5}

In [35]:
# Pop
# Removes an arbitrary element from the set
a.pop()

1

In [36]:
a

{2, 3, 4, 5}

In [37]:
a.pop()

2

In [38]:
a

{3, 4, 5}

In [39]:
# Clear
# Removes all elements from a set
a.clear()

In [40]:
a

set()

### Sets and FrozenSet

Both set and frozenset support set to set comparisons. Two sets are equal if and only if every element of each set is contained in the other (each is a subset of the other). A set is less than another set if and only if the first set is a proper subset of the second set (is a subset, but is not equal). A set is greater than another set if and only if the first set is a proper superset of the second set (is a superset, but is not equal).

Instances of set are compared to instances of frozenset based on their members. For example, "set('abc') == frozenset('abc')" returns True.

The subset and equality comparisons do not generalize to a complete ordering function. For example, any two disjoint sets are not equal and are not subsets of each other, so all of the following return False: a<b, a==b, or a>b. Accordingly, sets do not implement the __cmp__ method.

Since sets only define partial ordering (subset relationships), the output of the list.sort() method is undefined for lists of sets.

Set elements are like dictionary keys; they need to define both __hash__ and __eq__ methods.

Binary operations that mix set instances with frozenset return the type of the first operand. For example: "frozenset('ab') | set('bc')" returns an instance of frozenset.

The following table lists operations available for set that do not apply to immutable instances of frozenset:

In [44]:
## For more info on sets and frozensets - https://docs.python.org/2.4/lib/types-set.html

In [10]:
cities = frozenset(['Miami','Dallas','Tampa'])

In [12]:
cities

frozenset({'Dallas', 'Miami', 'Tampa'})

In [13]:
# Trying to add an element to the frozen set
cities[3] = 'LA'

TypeError: 'frozenset' object does not support item assignment

As expected, the operation throws an exception because frozen set is immutable.